<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chinese Valvulas</title>
    <!--<link rel="icon" href="图片位置" type="image/x-icon"/>-->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link rel="icon" href="img/titleIco.ico" type="image/x-icon"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YH-Valvulas</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index">Home</a></li>
                <li>
                    <a href="service">Services</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <!--<li class="disabled text-center"><a href="#"></a></li>-->
                        <li  class="text-center"><a href="productDynamic" menuName="balance">Balance Valve</a></li>
                        <li  class="text-center"><a href="productDynamic"  menuName="brassAngle">Brass Angle Valve</a></li>
                        <li  class="text-center"><a href="productDynamic"  menuName="brassBall">Brass Ball Valve</a></li>
                        <li  class="text-center"><a href="productDynamic"  menuName="bronze">Bronze Valve</a></li>
                        <li  class="text-center"><a  href="productDynamic" menuName="check">Check Valve</a></li>
                        <li  class="text-center"><a href="productDynamic" menuName="gate">Gate Valve</a></li>
                        <li  class="text-center"><a href="productDynamic" menuName="pressureReduce">Pressure Reduce Valve</a></li>
                        <!--<li class="divider"></li>-->
                        <!--分割线-->
                    </ul>
                </li>
                <li>
                    <a href="contract">Contact Us</a>
                </li>

            </ul>
        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!--顶部导航 over-->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <!--<hr class="section-heading-spacer">-->
                <div class="clearfix"></div>
                <h2 class="section-heading">Yuhuan Valvulas Trading Co., Ltd. </h2>
                <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In 2019, I left the copper valve factory
                    and established Yuhuan Valvulas Trading Co., Ltd. in May 2019. We mainly engaged in the export
                    business of brass valves, sanitary ware, air compressor equipment and accessories, diesel engine and
                    other products. We can also assist other products in purchasing and acting for export business. Our
                    customers mainly come from Japan, New Zealand, Hong Kong, Brazil, Colombia, Costa Rica, Haiti,
                    Dubai, Pakistan and other countries. Our company upholds the principle of quality first, customer
                    first, mutual benefit and win-win situation, so that more international friends can purchase
                    high-quality Chinese manufactured products in China. </p>
            </div>

        </div>

    </div>
    <!-- /.container -->

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small text-center">Copyright &copy; Yuhuan Valvulas Trading Co., Ltd.
                    2019. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery/jquery.cookie.js"></script>
<script src="js/product.js"></script>
<!--    <script >-->
<!--        $(".headerpage").load("header.html");-->
<!--        $(".footerpage").load("footer.html");-->

<!--    </script>-->

</body>

</html>
